<div class="card card-fifa">
    <div class="card-image-container">
        <div class="row">
            <div class="col-4">
                <div class="header-details">
                    <span class="d-block overall-score">99</span>
                    <span class="d-block main-position">EI</span>
                    <img src="https://media.istockphoto.com/photos/flag-of-argentina-picture-id466513393?k=20&m=466513393&s=612x612&w=0&h=mFYPSgLNXH_VsVMfLW4fs9OenlWp_-8za9crspE7Il8=" class="img-fluid w-100 nation-flag" alt="" />
                    <img src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c4d8.png" class="img-fluid w-100 club-flag" alt />
                </div>
            </div>
            <div class="col-8">
                <img src="https://i.pinimg.com/originals/c3/f8/b5/c3f8b5d3e9a61af0fcc7c67d5532ad38.png" alt="messi" class="img-fluid w-100">
            </div>
        </div>
    </div>
    <div class="card-body">

    </div>
</div>
